body {
  margin: 16px;
  font-family: sans-serif;
}

.error {
  color: red;
}

.input__group {
  margin-bottom: 10px;
  width: 180px;
  display: flex;
  flex-direction: column;
}

.input__label {
  font-size: 15px;
  font-weight: 700;
}

.button {
  margin: 20px 0;
  padding: 10px;
  background-color: #3898ec;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100px;
}
